<<<<<<< HEAD
        {
            margin: 0;
            padding: 0;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            margin-top: 0px;
            height: 100%;
            Background-color: #e615b2;
            Background-image: url("logo2.png");
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }
        
        li {
            list-style: none;
        }
        
        .btn {
            font-size: 2em;
            background-color: aqua;
            text-align: center;
            font-weight: bold;
        }
        
        .btn:hover {
            background-color: white;
            position: fixed;
        }
        
        .navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
        }
        
        .hamburger {
            position: absolute;
            top: .5em;
            right: 2em;
            font-size: 100px;
        }
        
        .mainContent {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        /*Social Media*/
        
        .social {
            padding: 2em;
            size: 2em;
        }
        /*Media Query*/
        
        @media screen and (mid-width: 375 px;
        )
=======
    body {
    Margin-top: 0px;
    height: 100%;
    Background-color: #e615b2;
    Background-image: url("logo2.png");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
>>>>>>> 2f1feb6e4d0efe8168fff7c1821159c7b4fe9285
